{% extends "admin/change_form.html" %}

{% block field_sets %}
    {# Render fieldsets up to and including "Dates" #}
    {% for fieldset in adminform %}
        {% if forloop.counter <= 2 %}
            {% include "admin/includes/fieldset.html" %}
        {% endif %}
    {% endfor %}
    
    {# Render the Entities inline (3rd position) #}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
    
    {# Render remaining fieldsets (Location onwards) #}
    {% for fieldset in adminform %}
        {% if forloop.counter > 2 %}
            {% include "admin/includes/fieldset.html" %}
        {% endif %}
    {% endfor %}
{% endblock %}
